In [1]:
import pandas as pd
import numpy as np

In [2]:
students_performance = pd.read_csv("E:\code\studies\karpov_intro_ml\StudentsPerformance.csv")
students_performance

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
students_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [5]:
students_performance.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [6]:
students_performance.shape

(1000, 8)

In [7]:
students_performance.groupby("gender").aggregate({"writing score" : "mean"})

        writing score
gender
female      72.467181
male        63.311203

In [8]:
students_performance.size

8000

In [9]:
students_performance.iloc[0:3, 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none

In [10]:
students_performance[0:5][['gender', 'race/ethnicity', 'parental level of education']]    #из комментов на степике

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [11]:
students_performance.iloc[[0, 3, 10] , 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
10,male,group C,associate's degree,standard,none

In [12]:
students_performance.iloc[[0, 3, 10, -1] , 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
10,male,group C,associate's degree,standard,none
999,female,group D,some college,free/reduced,none

In [13]:
students_performance_with_names = students_performance.iloc[[0,3,4,5,6]]

In [14]:
students_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [15]:
students_performance_with_names.index = ["Cersei", "Tywin", "Gregor", "Joffrey", "Ilyn Payne"]

In [16]:
students_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Gregor,male,group C,some college,standard,none,76,78,75
Joffrey,female,group B,associate's degree,standard,none,71,83,78
Ilyn Payne,female,group B,some college,standard,completed,88,95,92

In [17]:
students_performance_with_names.loc[["Cersei", "Joffrey"], ["gender", "math score"]]

         gender  math score
Cersei   female          72
Joffrey  female          71

In [18]:
students_performance_with_names.iloc[:, 0]

Cersei        female
Tywin           male
Gregor          male
Joffrey       female
Ilyn Payne    female
Name: gender, dtype: object

In [19]:
type(students_performance_with_names.iloc[:, 0])

pandas.core.series.Series

In [20]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [21]:
my_series1 = pd.Series([1, 2, 3], index = ["Cersei", "Joffrey", "Tywin"])
my_series2 = pd.Series([4, 5, 6], index = ["Cersei", "Joffrey", "Tywin"])

In [22]:
pd.DataFrame({"name1" : my_series1, "name2": my_series2})

         name1  name2
Cersei       1      4
Joffrey      2      5
Tywin        3      6

In [23]:
help(pd.pandas.core)

Help on package pandas.core in pandas:

NAME
    pandas.core

PACKAGE CONTENTS
    accessor
    aggregation
    algorithms
    api
    apply
    array_algos (package)
    arraylike
    arrays (package)
    base
    common
    computation (package)
    config_init
    construction
    dtypes (package)
    flags
    frame
    generic
    groupby (package)
    index
    indexers
    indexes (package)
    indexing
    internals (package)
    missing
    nanops
    ops (package)
    resample
    reshape (package)
    series
    shared_docs
    sorting
    sparse (package)
    strings (package)
    tools (package)
    util (package)
    window (package)

FILE
    c:\conda\lib\site-packages\pandas\core\__init__.py

In [24]:
students_performance_with_names["gender"]

Cersei        female
Tywin           male
Gregor          male
Joffrey       female
Ilyn Payne    female
Name: gender, dtype: object

In [25]:
type(students_performance_with_names["gender"])

pandas.core.series.Series

In [26]:
students_performance_with_names[["gender"]]

            gender
Cersei      female
Tywin         male
Gregor        male
Joffrey     female
Ilyn Payne  female

In [27]:
type(students_performance_with_names[["gender"]])

pandas.core.frame.DataFrame

In [28]:
#поведение в зависимости от типа данных будет разным, например:
students_performance_with_names[["gender"]].shape

(5, 1)

In [29]:
#И:
students_performance_with_names["gender"].shape

(5,)

In [30]:
#К первому вопросу в степе 1.4
#Какие способы позволяют отобрать 7 первых строк датафрэйма df
students_performance

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [31]:
#первый вариант ответа: df.head(7), проверим:
students_performance.head(7)
#правильно, вывелись первые 7

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [32]:
#второй вариант ответа: df.loc[:7], если индекс представляет собой последовательность чисел от 0 с шагом 1, проверим:
students_performance.loc[:7] # отобрались значения по индексам до 7, включая 7, то есть восемь первых строчек датафрейма

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39

In [33]:
#df.iloc[:7], должно быть правильно, проверим
students_performance.iloc[:7]
#Да, верно

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [34]:
#df.loc[:6], если индекс представляет собой последовательность чисел от 0 с шагом 1
students_performance.loc[:6]
#верно

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [35]:
#df.iloc[0:7]
students_performance.iloc[0:7]
#верно

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [36]:
#df.tail(7)
students_performance.tail(7)
#не верно

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [37]:

#МЕТОДЫ




#df.dtypes - "Return the dtypes in the DataFrame." - возвращает серию с описанием типа каждой колонки
print(students_performance.dtypes)
print(type(students_performance.dtypes))

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object
<class 'pandas.core.series.Series'>

In [38]:
#df.size - "Return an int representing the number of elements in this object." - возвращает число ячеек (число строк, умноженное на число столбцов) в df
print(students_performance.size)
print(type(students_performance.size))

8000
<class 'numpy.int32'>

In [39]:
#df.columns - "The column labels of the DataFrame." - возвращает коллекцию с названиями колонок
print(students_performance.columns)
print(type(students_performance.columns))

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [40]:
#df.index - "The index (row labels) of the DataFrame." - возвращает коллекцию с индексом всех строк
students_performance.index

RangeIndex(start=0, stop=1000, step=1)

In [41]:
#df.shape - "Return a tuple representing the dimensionality of the DataFrame." Возвращает коллекцию с индексом всех строк.
students_performance.shape

(1000, 8)

In [42]:
# #Задача на титаник.
# А теперь используем эти методы на знаменитом титаническом датасэте! Загрузите датасэт, посмотрите на датафрэйм и ответьте на вопросы
#
# Комментарий: в ответе необходимо указать количество колонок.
#
#
# Число колонок в представленном датафрэйме
#  , а число строк
#  Тип float имеют
#  колонки, int -
#  , и object

In [43]:
titanic = pd.read_csv("E:\code\studies\karpov_intro_ml\\titanic.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [44]:
#Число колонок в представленном датафрэйме.
(titanic.shape)[1]

12

In [45]:
#Число строк
(titanic.shape)[0]

891

In [46]:
#Число колонок типа float
((titanic.select_dtypes(include = float)).shape)[1]

2

In [47]:
#Число колонок типа int
titanic.dtypes[titanic.dtypes=='int64'].count()

5

In [48]:
#Число колонок типа object
((titanic.select_dtypes(include = object)).shape)[1]

5

In [49]:
#Фильтрация данных, для примера отберём только те наблюдения, где gender = female
students_performance.gender #-Pandas.Series

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [50]:
students_performance.gender == "female"

0       True
1       True
2       True
3      False
4      False
       ...
995     True
996    False
997     True
998     True
999     True
Name: gender, Length: 1000, dtype: bool

In [51]:
students_performance.loc[students_performance.gender == "female"]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [52]:
students_performance.loc[students_performance.gender == "female"]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [53]:
students_performance.loc[students_performance.gender == "female" , ["math score", "writing score"]]

     math score  writing score
0            72             74
1            69             88
2            90             93
5            71             78
6            88             92
..          ...            ...
993          62             74
995          88             95
997          59             65
998          68             77
999          77             86

[518 rows x 2 columns]

In [54]:
#можно и без loc
students_performance[students_performance.gender == "female"]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [55]:
# теперь отберём  наблюдения, где writing score больше среднего значения
mean_writing_score = students_performance["writing score"].mean() #среднее значение переменном writing score

In [56]:
students_performance[students_performance["writing score"] > mean_writing_score] #done

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [57]:
students_performance[(students_performance['writing score'] > 99) & (students_performance.gender == 'female')]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
106,female,group D,master's degree,standard,none,87,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
165,female,group C,bachelor's degree,standard,completed,96,100,100
179,female,group D,some high school,standard,completed,97,100,100
377,female,group D,master's degree,free/reduced,completed,85,95,100
403,female,group D,high school,standard,completed,88,99,100
458,female,group E,bachelor's degree,standard,none,100,100,100
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100
685,female,group E,master's degree,standard,completed,94,99,100
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100
957,female,group D,master's degree,standard,none,92,100,100
962,female,group E,associate's degree,standard,none,100,100,100
970,female,group D,bachelor's degree,standard,none,89,100,100

In [58]:
#задача
# У какой доли студентов из датасэта в колонке lunch указано free/reduced?
#
# Формат ответа десятичная дробь, например, 0.25

In [59]:
((students_performance[(students_performance['lunch']) == "free/reduced"]).shape[0])/len(students_performance)

0.355

In [60]:
#или
students_performance.lunch.value_counts(normalize=True).loc['free/reduced']

0.355

In [61]:
#Как различается среднее и дисперсия оценок по предметам у групп студентов со стандартным или урезанным ланчем?
free_lunch_students = students_performance.loc[students_performance.lunch == "free/reduced" , ["math score", "writing score", "reading score"]]
standard_lunch_students = students_performance.loc[students_performance.lunch == "standard" , ["math score", "writing score", "reading score"]]

In [62]:
#Средние оценки групп студентов с урезанным ланчем:
print("письмо студентов с урезанным ланчем - "+ str(free_lunch_students["writing score"].mean()))
print("математика студентов с урезанным ланчем - " + str(free_lunch_students["math score"].mean()))
print("чтение студентов с урезанным ланчем - " + str(free_lunch_students["reading score"].mean()))

письмо студентов с урезанным ланчем - 63.02253521126761
математика студентов с урезанным ланчем - 58.92112676056338
чтение студентов с урезанным ланчем - 64.65352112676057

In [63]:
#Средние оценки групп студентов с полным ланчем:
print("письмо студентов с полным ланчем - "+ str(standard_lunch_students["writing score"].mean()))
print("математика студентов с полным ланчем - " + str(standard_lunch_students["math score"].mean()))
print("чтение студентов с полным ланчем - " + str(standard_lunch_students["reading score"].mean()))

письмо студентов с полным ланчем - 70.8232558139535
математика студентов с полным ланчем - 70.03410852713178
чтение студентов с полным ланчем - 71.65426356589147

In [64]:
#Дисперсия групп студентов с урезанным ланчем:
print("дисперсия письмо студентов с урезанным ланчем - "+ str(free_lunch_students["writing score"].var()))
print("дисперсия математика студентов с урезанным ланчем - " + str(free_lunch_students["math score"].var()))
print("дисперсия чтение студентов с урезанным ланчем - " + str(free_lunch_students["reading score"].var()))

дисперсия письмо студентов с урезанным ланчем - 238.20288056019737
дисперсия математика студентов с урезанным ланчем - 229.8242699132649
дисперсия чтение студентов с урезанным ланчем - 221.8711386965864

In [65]:
#Дисперсия групп студентов с полным ланчем:
print("дисперсия письмо студентов с полным ланчем - "+ str(standard_lunch_students["writing score"].var()))
print("дисперсия математика студентов с полным ланчем - " + str(standard_lunch_students["math score"].var()))
print("дисперсия чтение студентов с полным ланчем - " + str(standard_lunch_students["reading score"].var()))

дисперсия письмо студентов с полным ланчем - 205.62088689874332
дисперсия математика студентов с полным ланчем - 186.41808946025324
дисперсия чтение студентов с полным ланчем - 191.28556020992812

In [66]:
students_performance.groupby('lunch').mean().round(3) # или так LOL, опять я хуйету какую то писал

              math score  reading score  writing score
lunch
free/reduced      58.921         64.654         63.023
standard          70.034         71.654         70.823

In [67]:
students_performance.groupby('lunch').var().round(3)

              math score  reading score  writing score
lunch
free/reduced     229.824        221.871        238.203
standard         186.418        191.286        205.621

In [84]:
#Переименуем колонки с пробелами для удобства обращения к ним через df.
students_performance = students_performance.rename(columns= {"parental level of education" : "parental_level_of_education", "test preparation course" : "test_preparation_course" , "math score" : "math_score" , "reading score" : "reading_score" , "writing score" : "writing_score"})

In [86]:
students_performance.query("writing_score > 80")

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
16,male,group C,high school,standard,none,88,89,86
34,male,group E,some college,standard,none,97,87,82
...,...,...,...,...,...,...,...,...
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
989,female,group D,some college,free/reduced,completed,67,86,83
995,female,group E,master's degree,standard,completed,88,99,95
999,female,group D,some college,free/reduced,none,77,86,86

In [96]:
students_performance.query("gender == 'female'")

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [97]:
students_performance.query("gender == 'female' & math_score > 70 ")

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
36,female,group D,associate's degree,standard,none,74,81,83
...,...,...,...,...,...,...,...,...
979,female,group C,associate's degree,standard,none,91,95,94
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
995,female,group E,master's degree,standard,completed,88,99,95
999,female,group D,some college,free/reduced,none,77,86,86

In [99]:
math_score_query = 70
students_performance.query("gender == 'female' & @math_score_query < math_score ") # переменная в строке вызывается через @

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
36,female,group D,associate's degree,standard,none,74,81,83
...,...,...,...,...,...,...,...,...
979,female,group C,associate's degree,standard,none,91,95,94
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
995,female,group E,master's degree,standard,completed,88,99,95
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
# Ещё можно вот так от пробелов избавиться:(из комментов на степике)
# students_performance.columns = [x.replace(" ", "_") for x in students_performance.columns]

In [106]:
#отберем из нашего дф, дф только со скорами
score_columns = [i for i in list(students_performance) if "score" in i] # создадим список из имён колонок со словом скоре в составе

In [107]:
score_columns

['math_score', 'reading_score', 'writing_score']

In [108]:
students_performance[score_columns].head()

   math_score  reading_score  writing_score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

In [113]:
#метод проще или пандас уэй это df.filter
students_performance.filter(like = "score")

     math_score  reading_score  writing_score
0            72             72             74
1            69             90             88
2            90             95             93
3            47             57             44
4            76             78             75
..          ...            ...            ...
995          88             99             95
996          62             55             55
997          59             71             65
998          68             78             77
999          77             86             86

[1000 rows x 3 columns]

In [116]:
#ещё пример на фильтер, используя нащ играпрестольный датасет
students_performance_with_names.filter(like = "e", axis = 0) #axis = 0 значит что фильтр применился к названию строк, axis = 1 значит что для столбцов, ну и по умолчанию он равен 1

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Gregor,male,group C,some college,standard,none,76,78,75
Joffrey,female,group B,associate's degree,standard,none,71,83,78
Ilyn Payne,female,group B,some college,standard,completed,88,95,92

In [ ]:
#Фильтр - очень даже, если его скрестить с ручными питоном!  Вот, например, он имеет еще метод items для чисел, можно отобрать еще и четные  строки.

#df.filter(like= 'score').filter(items = (i for i in range(len(df)) if i % 2 == 0), axis = 0)

In [ ]:
# Аргумент axis отвечает за то, какие лэйблы мы рассматриваем - индекс или колонки
#
# Аргумент like отбирает те лэйблы, где встречается поданное значение
#
# Можно использовать только один из аргументов items, like, regex
#
# Аргумент items отбирает лэйблы, переданные в коллекции в качестве значения
#
# Аргумент regex отбирает лэйблы, подходящие к переданному паттерну

In [ ]:
#1_6 groupby and aggregate