In [1]:
import pandas as pd
import numpy as np

In [2]:
students_performance = pd.read_csv("E:\code\studies\karpov_intro_ml\StudentsPerformance.csv")
students_performance

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
students_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [5]:
students_performance.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [6]:
students_performance.shape

(1000, 8)

In [7]:
students_performance.groupby("gender").aggregate({"writing score" : "mean"})

        writing score
gender
female      72.467181
male        63.311203

In [8]:
students_performance.size

8000

In [9]:
students_performance.iloc[0:3, 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none

In [10]:
students_performance[0:5][['gender', 'race/ethnicity', 'parental level of education']]    #из комментов на степике

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [11]:
students_performance.iloc[[0, 3, 10] , 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
10,male,group C,associate's degree,standard,none

In [12]:
students_performance.iloc[[0, 3, 10, -1] , 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
10,male,group C,associate's degree,standard,none
999,female,group D,some college,free/reduced,none

In [13]:
students_performance_with_names = students_performance.iloc[[0,3,4,5,6]]

In [14]:
students_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [15]:
students_performance_with_names.index = ["Cersei", "Tywin", "Gregor", "Joffrey", "Ilyn Payne"]

In [16]:
students_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Gregor,male,group C,some college,standard,none,76,78,75
Joffrey,female,group B,associate's degree,standard,none,71,83,78
Ilyn Payne,female,group B,some college,standard,completed,88,95,92

In [17]:
students_performance_with_names.loc[["Cersei", "Joffrey"], ["gender", "math score"]]

         gender  math score
Cersei   female          72
Joffrey  female          71

In [18]:
students_performance_with_names.iloc[:, 0]

Cersei        female
Tywin           male
Gregor          male
Joffrey       female
Ilyn Payne    female
Name: gender, dtype: object

In [19]:
type(students_performance_with_names.iloc[:, 0])

pandas.core.series.Series

In [21]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [26]:
my_series1 = pd.Series([1, 2, 3], index = ["Cersei", "Joffrey", "Tywin"])
my_series2 = pd.Series([4, 5, 6], index = ["Cersei", "Joffrey", "Tywin"])

In [28]:
pd.DataFrame({"name1" : my_series1, "name2": my_series2})

         name1  name2
Cersei       1      4
Joffrey      2      5
Tywin        3      6

In [29]:
help(pd.pandas.core)

Help on package pandas.core in pandas:

NAME
    pandas.core

PACKAGE CONTENTS
    accessor
    aggregation
    algorithms
    api
    apply
    array_algos (package)
    arraylike
    arrays (package)
    base
    common
    computation (package)
    config_init
    construction
    dtypes (package)
    flags
    frame
    generic
    groupby (package)
    index
    indexers
    indexes (package)
    indexing
    internals (package)
    missing
    nanops
    ops (package)
    resample
    reshape (package)
    series
    shared_docs
    sorting
    sparse (package)
    strings (package)
    tools (package)
    util (package)
    window (package)

FILE
    c:\conda\lib\site-packages\pandas\core\__init__.py

In [32]:
students_performance_with_names["gender"]

Cersei        female
Tywin           male
Gregor          male
Joffrey       female
Ilyn Payne    female
Name: gender, dtype: object

In [33]:
type(students_performance_with_names["gender"])

pandas.core.series.Series

In [34]:
students_performance_with_names[["gender"]]

            gender
Cersei      female
Tywin         male
Gregor        male
Joffrey     female
Ilyn Payne  female

In [35]:
type(students_performance_with_names[["gender"]])

pandas.core.frame.DataFrame

In [38]:
#поведение в зависимости от типа данных будет разным, например:
students_performance_with_names[["gender"]].shape

(5, 1)

In [39]:
#И:
students_performance_with_names["gender"].shape

(5,)